In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from plotnine import *

In [46]:
dfc = pd.read_csv('Combined Listing Data [Summary].csv')
dfc.head()

/var/folders/93/1lgg6hm53495gpcd0fsv6gmh0000gn/T/ipykernel_76166/3382369993.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.

,Unnamed: 0,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Scrape File
0,0,3861476,venicelocalliving.com 341,16577861,John,NaN,Venice,33.998202,-118.476196,Entire home/apt,145,1,4,2015-05-08,0.4,10,304.0,los_angeles_2015_05_listings.csv
1,1,6431889,Turquoise Jewel at Venice Beach,18993265,Greg,NaN,Venice,33.985100,-118.469738,Entire home/apt,175,1,0,NaN,NaN,1,76.0,los_angeles_2015_05_listings.csv
2,2,5754633,Terrane Resort - Oceanfront Suite,15241342,Monica,NaN,Rancho Palos Verdes,33.740152,-118.395754,Private room,295,2,0,NaN,NaN,2,310.0,los_angeles_2015_05_listings.csv
3,3,6302541,Hollywood Hot Spot,32776680,Alix,NaN,Hollywood,34.099955,-118.311584,Private room,110,1,0,NaN,NaN,1,362.0,los_angeles_2015_05_listings.csv
4,4,4469657,Main Street Retreat,10658835,Brandon,NaN,Venice,33.997269,-118.478744,Entire home/apt,600,7,0,NaN,NaN,11,328.0,los_angeles_2015_05_listings.csv

In [19]:
dfc.columns

Index(['Unnamed: 0', 'id', 'name', 'host_id', 'host_name',
       'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude',
       'room_type', 'price', 'minimum_nights', 'number_of_reviews',
       'last_review', 'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'Scrape File'],
      dtype='object')

In [20]:
dfc.shape

(1633610, 18)

In [47]:
dfc['date'] = [i[0] for i in dfc['Scrape File'].str.findall("\d+_\d+")]

In [48]:
dfc['date'] = [i[:4]+'-'+i[5:] for i in dfc['date']]

In [49]:
dfc['date'] = pd.to_datetime(dfc['date'])

In [38]:
dfc.head()

,Unnamed: 0,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Scrape File,date
0,0,3861476,venicelocalliving.com 341,16577861,John,NaN,Venice,33.998202,-118.476196,Entire home/apt,145,1,4,2015-05-08,0.4,10,304.0,los_angeles_2015_05_listings.csv,2015-05-01
1,1,6431889,Turquoise Jewel at Venice Beach,18993265,Greg,NaN,Venice,33.985100,-118.469738,Entire home/apt,175,1,0,NaN,NaN,1,76.0,los_angeles_2015_05_listings.csv,2015-05-01
2,2,5754633,Terrane Resort - Oceanfront Suite,15241342,Monica,NaN,Rancho Palos Verdes,33.740152,-118.395754,Private room,295,2,0,NaN,NaN,2,310.0,los_angeles_2015_05_listings.csv,2015-05-01
3,3,6302541,Hollywood Hot Spot,32776680,Alix,NaN,Hollywood,34.099955,-118.311584,Private room,110,1,0,NaN,NaN,1,362.0,los_angeles_2015_05_listings.csv,2015-05-01
4,4,4469657,Main Street Retreat,10658835,Brandon,NaN,Venice,33.997269,-118.478744,Entire home/apt,600,7,0,NaN,NaN,11,328.0,los_angeles_2015_05_listings.csv,2015-05-01

In [50]:
dfc = dfc.set_index(['id','date'])
dfc['lm_review'] =  dfc['number_of_reviews'].groupby(['id']).shift()
# dfc['month_review'] = dfc['number_of_reviews'] - dfc['lm_review']
dfc = dfc.sort_index()
dfc.head(20)

                Unnamed: 0                                               name  \
id  date
109 2015-05-01         708                Amazing bright apartment parkfront
    2015-07-01        5637                Amazing bright apartment parkfront
    2015-09-01        1977                Amazing bright apartment parkfront
    2015-11-01        2106                Amazing bright apartment parkfront
    2016-01-01        2378                Amazing bright apartment parkfront
    2016-05-01        2562                Amazing bright apartment parkfront
    2016-07-01        3235  Amazing bright elegant condo park front *UPGRA...
    2016-08-01        3361  Amazing bright elegant condo park front *UPGRA...
    2017-03-01        2981  Amazing bright elegant condo park front *UPGRA...
    2017-04-01        1306  Amazing bright elegant condo park front *UPGRA...
    2017-05-01        4053  Amazing bright elegant condo park front *UPGRA...
    2018-03-01           0  Amazing bright elegant condo park front *UPGRA...
    2018-04-01           0  Amazing bright elegant condo park front *UPGRA...
    2018-05-01           0  Amazing bright elegant condo park front *UPGRA...
    2018-06-01           0  Amazing bright elegant condo park front *UPGRA...
    2018-07-01           0  Amazing bright elegant condo park front *UPGRA...
    2018-08-01           0  Amazing bright elegant condo park front *UPGRA...
    2018-09-01           0  Amazing bright elegant condo park front *UPGRA...
    2018-10-01           0  Amazing bright elegant condo park front *UPGRA...
    2018-11-01           0  Amazing bright elegant condo park front *UPGRA...

                host_id host_name neighbourhood_group neighbourhood  \
id  date
109 2015-05-01      521     Paolo                 NaN   Culver City
    2015-07-01      521     Paolo                 NaN   Culver City
    2015-09-01      521     Paolo                 NaN   Culver City
    2015-11-01      521     Paolo                 NaN   Culver City
    2016-01-01      521     Paolo                 NaN   Culver City
    2016-05-01      521     Paolo                 NaN   Culver City
    2016-07-01      521     Paolo                 NaN   Culver City
    2016-08-01      521     Paolo                 NaN   Culver City
    2017-03-01      521     Paolo                 NaN   Culver City
    2017-04-01      521     Paolo                 NaN   Culver City
    2017-05-01      521     Paolo                 NaN   Culver City
    2018-03-01      521     Paolo                 NaN   Culver City
    2018-04-01      521     Paolo        Other Cities   Culver City
    2018-05-01      521     Paolo        Other Cities   Culver City
    2018-06-01      521     Paolo        Other Cities   Culver City
    2018-07-01      521     Paolo        Other Cities   Culver City
    2018-08-01      521     Paolo        Other Cities   Culver City
    2018-09-01      521     Paolo        Other Cities   Culver City
    2018-10-01      521     Paolo        Other Cities   Culver City
    2018-11-01      521     Paolo        Other Cities   Culver City

                 latitude   longitude        room_type  price  minimum_nights  \
id  date
109 2015-05-01  33.982095 -118.384935  Entire home/apt    146               7
    2015-07-01  33.982095 -118.384935  Entire home/apt     85               7
    2015-09-01  33.982095 -118.384935  Entire home/apt    112               7
    2015-11-01  33.982095 -118.384935  Entire home/apt    111               7
    2016-01-01  33.982095 -118.384935  Entire home/apt    117               7
    2016-05-01  33.982095 -118.384935  Entire home/apt    122               7
    2016-07-01  33.982095 -118.384935  Entire home/apt    122               7
    2016-08-01  33.982095 -118.384935  Entire home/apt    122               7
    2017-03-01  33.982095 -118.384935  Entire home/apt    122               7
    2017-04-01  33.982095 -118.384935  Entire home/apt    122               7
    2017-05-01  33.982095 -118.384935  Entire home/apt    122               7
    2018-03-01  33.982095 -118.384935  Entire home/apt    122               7
    2018-04-01  33.982095 -118.384935  Entire home/apt    122               7
    2018-05-01  33.982095 -118.384935  Entire home/apt    122               7
    2018-06-01  33.982095 -118.384935  Entire home/apt    122               7
    2018-07-01  33.982095 -118.384935  Entire home/apt    122               7
    2018-08-01  33.982095 -118.384935  Entire home/apt    122               7
    2018-09-01  33.982095 -118.384935  Entire home/apt    122               7
    2018-10-01  33.982095 -118.384935  Entire home/apt    122               7
    2018-11-01  33.982095 -118.384935  Entire home/apt    122               7

                number_of_reviews last_review  reviews_per_month  \
id  date
109 2015-05-01                  1  2011-08-15               0.00
    2015-07-01                  1  2011-08-15               0.02
    2015-09-01                  1  2011-08-15               0.02
    2015-11-01                  1  2011-08-15               0.02
    2016-01-01                  1  2011-08-15               0.02
    2016-05-01                  1  2011-08-15               0.02
    2016-07-01                  2  2016-05-15               0.03
    2016-08-01                  2  2016-05-15               0.03
    2017-03-01                  2  2016-05-15               0.03
    2017-04-01                  2  2016-05-15               0.03
    2017-05-01                  2  2016-05-15               0.03
    2018-03-01                  2  2016-05-15               0.03
    2018-04-01                  2  2016-05-15               0.02
    2018-05-01                  2  2016-05-15               0.02
    2018-06-01                  2  2016-05-15               0.02
    2018-07-01                  2  2016-05-15               0.02
    2018-08-01                  2  2016-05-15               0.02
    2018-09-01                  2  2016-05-15               0.02
    2018-10-01                  2  2016-05-15               0.02
    2018-11-01                  2  2016-05-15               0.02

                calculated_host_listings_count  availability_365  \
id  date
109 2015-05-01                               1             274.0
    2015-07-01                               1             336.0
    2015-09-01                               1             283.0
    2015-11-01                               1             348.0
    2016-01-01                               1             272.0
    2016-05-01                               1             276.0
    2016-07-01                               1             338.0
    2016-08-01                               1             305.0
    2017-03-01                               1               0.0
    2017-04-01                               1               0.0
    2017-05-01                               1               0.0
    2018-03-01                               1             344.0
    2018-04-01                               1               0.0
    2018-05-01                               1              25.0
    2018-06-01                               1              52.0
    2018-07-01                               1              82.0
    2018-08-01                               1             114.0
    2018-09-01                               1             146.0
    2018-10-01                               1             173.0
    2018-11-01                               1             203.0

                                     Scrape File  lm_review
id  date
109 2015-05-01  los_angeles_2015_05_listings.csv        NaN
    2015-07-01  los_angeles_2015_07_listings.csv        1.0
    2015-09-01  los_angeles_2015_09_listings.csv        1.0
    2015-11-01  los_angeles_2015_11_listings.csv        1.0
    2016-01-01  los_angeles_2016_01_listings.csv        1.0
    2016-05-01  los_angeles_2016_05_listings.csv        1.0
    2016-07-01  los_angeles_2016_07_listings.csv        1.0
    2016-08-01  los_angeles_2016_08_listings.csv        2.0
    2017-03-01  los_angeles_2017_03_listings.csv        2.0
    2017-04-01  los_angeles_2017_04_listings.csv        2.0
    2017-05-01  los_angeles_2017_05_listings.csv        2.0
    2018-03-01  los_angeles_2018_03_listings.csv        2.0
    2018-04-01  los_angeles_2018_04_listings.csv        2.0
    2018-05-01  los_angeles_2018_05_listings.csv        2.0
    2018-06-01  los_angeles_2018_06_listings.csv        2.0
    2018-07-01  los_angeles_2018_07_listings.csv        2.0
    2018-08-01  los_angeles_2018_08_listings.csv        2.0
    2018-09-01  los_angeles_2018_09_listings.csv        2.0
    2018-10-01  los_angeles_2018_10_listings.csv        2.0
    2018-11-01  los_angeles_2018_11_listings.csv        2.0

In [10]:
dfc = dfc.sort_index()
dfc_ = dfc.dropna(subset=['month_review'])
dfc_.head()

                Unnamed: 0                                 name  host_id  \
id  date
109 2015-07-01        5637  Amazing bright apartment parkfront       521
    2015-09-01        1977  Amazing bright apartment parkfront       521
    2015-11-01        2106  Amazing bright apartment parkfront       521
    2016-01-01        2378  Amazing bright apartment parkfront       521
    2016-05-01        2562  Amazing bright apartment parkfront       521

               host_name neighbourhood_group neighbourhood   latitude  \
id  date
109 2015-07-01     Paolo                 NaN   Culver City  33.982095
    2015-09-01     Paolo                 NaN   Culver City  33.982095
    2015-11-01     Paolo                 NaN   Culver City  33.982095
    2016-01-01     Paolo                 NaN   Culver City  33.982095
    2016-05-01     Paolo                 NaN   Culver City  33.982095

                 longitude        room_type  price  minimum_nights  \
id  date
109 2015-07-01 -118.384935  Entire home/apt     85               7
    2015-09-01 -118.384935  Entire home/apt    112               7
    2015-11-01 -118.384935  Entire home/apt    111               7
    2016-01-01 -118.384935  Entire home/apt    117               7
    2016-05-01 -118.384935  Entire home/apt    122               7

                number_of_reviews last_review  reviews_per_month  \
id  date
109 2015-07-01                  1  2011-08-15               0.02
    2015-09-01                  1  2011-08-15               0.02
    2015-11-01                  1  2011-08-15               0.02
    2016-01-01                  1  2011-08-15               0.02
    2016-05-01                  1  2011-08-15               0.02

                calculated_host_listings_count  availability_365  \
id  date
109 2015-07-01                               1             336.0
    2015-09-01                               1             283.0
    2015-11-01                               1             348.0
    2016-01-01                               1             272.0
    2016-05-01                               1             276.0

                                     Scrape File  lm_review  month_review
id  date
109 2015-07-01  los_angeles_2015_07_listings.csv        1.0           0.0
    2015-09-01  los_angeles_2015_09_listings.csv        1.0           0.0
    2015-11-01  los_angeles_2015_11_listings.csv        1.0           0.0
    2016-01-01  los_angeles_2016_01_listings.csv        1.0           0.0
    2016-05-01  los_angeles_2016_05_listings.csv        1.0           0.0

In [11]:
dfc_ = dfc_.reset_index()

In [12]:
dfc_.head()

,id,date,Unnamed: 0,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,...,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Scrape File,lm_review,month_review
0,109,2015-07-01,5637,Amazing bright apartment parkfront,521,Paolo,NaN,Culver City,33.982095,-118.384935,...,85,7,1,2011-08-15,0.02,1,336.0,los_angeles_2015_07_listings.csv,1.0,0.0
1,109,2015-09-01,1977,Amazing bright apartment parkfront,521,Paolo,NaN,Culver City,33.982095,-118.384935,...,112,7,1,2011-08-15,0.02,1,283.0,los_angeles_2015_09_listings.csv,1.0,0.0
2,109,2015-11-01,2106,Amazing bright apartment parkfront,521,Paolo,NaN,Culver City,33.982095,-118.384935,...,111,7,1,2011-08-15,0.02,1,348.0,los_angeles_2015_11_listings.csv,1.0,0.0
3,109,2016-01-01,2378,Amazing bright apartment parkfront,521,Paolo,NaN,Culver City,33.982095,-118.384935,...,117,7,1,2011-08-15,0.02,1,272.0,los_angeles_2016_01_listings.csv,1.0,0.0
4,109,2016-05-01,2562,Amazing bright apartment parkfront,521,Paolo,NaN,Culver City,33.982095,-118.384935,...,122,7,1,2011-08-15,0.02,1,276.0,los_angeles_2016_05_listings.csv,1.0,0.0

In [13]:
dfc_.shape

(1486718, 21)

In [14]:
dfc_ = dfc_[['id','date','host_id','neighbourhood_group','neighbourhood','latitude','longitude',\
             'room_type','price','minimum_nights','availability_365','month_review']]
dfc_.head()

,id,date,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,availability_365,month_review
0,109,2015-07-01,521,NaN,Culver City,33.982095,-118.384935,Entire home/apt,85,7,336.0,0.0
1,109,2015-09-01,521,NaN,Culver City,33.982095,-118.384935,Entire home/apt,112,7,283.0,0.0
2,109,2015-11-01,521,NaN,Culver City,33.982095,-118.384935,Entire home/apt,111,7,348.0,0.0
3,109,2016-01-01,521,NaN,Culver City,33.982095,-118.384935,Entire home/apt,117,7,272.0,0.0
4,109,2016-05-01,521,NaN,Culver City,33.982095,-118.384935,Entire home/apt,122,7,276.0,0.0

In [15]:
dfc_ = dfc_.loc[dfc_['date']>='2018-04-01']

In [17]:
dfc_.groupby(['month_review']).count()

,id,date,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,availability_365
month_review,,,,,,,,,,,
-710.0,1,1,1,1,1,1,1,1,1,1,1
-320.0,1,1,1,1,1,1,1,1,1,1,1
-270.0,1,1,1,1,1,1,1,1,1,1,1
-264.0,1,1,1,1,1,1,1,1,1,1,1
-208.0,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
191.0,1,1,1,1,1,1,1,1,1,1,1
279.0,1,1,1,1,1,1,1,1,1,1,1
284.0,1,1,1,1,1,1,1,1,1,1,1
373.0,1,1,1,1,1,1,1,1,1,1,1
730.0,1,1,1,1,1,1,1,1,1,1,1

In [16]:
dfc_.to_csv('ab_2data.csv')